@page "/List"
@page "/Leaderboard"
@inject IJSRuntime JSRuntime;
@using ApexCharts;

<PageTitle>Leaderboard</PageTitle>

<h1>Leaderboard</h1>

@if(KVPs != null) {
    <ApexChart TItem="DataModels.GenericKVP"
           Title="Total Checkin Points - Top 10"
           Options=options>

    <ApexPointSeries TItem="DataModels.GenericKVP"
                Items="KVPs"
                Name="Points"
                XValue="@(e => e.Key)"
                SeriesType="SeriesType.Bar"
                YAggregate="@(e => e.Sum(e => e.Value))"
                OrderByDescending="e=>e.Y"
                Color="#FFD500"/>

</ApexChart>
}

@code {
    private string userId = "";
    private List<DataModels.GenericKVP> KVPs = null; 
    private ApexChartOptions<DataModels.GenericKVP> options;
   

    protected override async Task OnInitializedAsync() {
        await JSRuntime.InvokeAsync<string>("login");
        userId = await JSRuntime.InvokeAsync<string>("getCurrentUserId");

        options = new ApexChartOptions<DataModels.GenericKVP>
        {
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true
                }
            }
        };

        KVPs = await JSRuntime.InvokeAsync<List<DataModels.GenericKVP>>("realmShim_getLeaderboardGraph");
    }
}