@page "/Chart"


<PageTitle>Leaderboard</PageTitle>

<h1>Leaderboard</h1>
<h3><a href="https://charts.mongodb.com/charts-grabosky-egkqb/embed/charts?id=63799c8b-4161-4d5a-8640-33c2a8ac6f71&maxDataAge=60&theme=light&autoRefresh=true" target="_blank">Open In New Tab</a></h3>

<iframe 
    style="background: #FFFFFF;border: none;" 
    width="85%" 
    height="85%" 
    src="https://charts.mongodb.com/charts-grabosky-egkqb/embed/charts?id=63799c8b-4161-4d5a-8640-33c2a8ac6f71&maxDataAge=60&theme=light&autoRefresh=true"></iframe>